<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ topic.name }}</h1>
            <p><a href="{% url 'todo_list_update' topic.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' topic.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in topic.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a></td>
                            <td>{{ task.due_date }}</td>
                        </tr>
                    {% empty %}
                        <p>There are no tasks</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
